<!-- <a [routerLink]="['./', 1]">POST</a> -->
<section class="section">
    <div class="container py-4">
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="media" *ngFor="let article of articles | paginate: config">
                    <div class="media-left">
                        <figure class="image is-64x64"><img class="is-rounded"
                                src="assets/icons/{{article.category.name.toLowerCase()}}.svg?primary=12232E" alt=""></figure>
                    </div>
                    <div class="media-content" (click)="getPostDetail(article.id)">
                        <p><strong>{{ article.title }}</strong><span class="subtitle is-size-7 pl-3 has-text-weight-light">{{article.created | date:'mediumDate' }}</span></p>
                        <p>{{article.subtitle}}</p>
                    </div>
                </div>
            </div>
        </div>
        <pagination-template
        #p="paginationApi"
        [id]="config.id"
        (pageChange)="pageChanged($event, p)"
      >
        <nav
          class="pagination is-centered"
          role="navigation"
          aria-label="pagination"
        >
          <button
            class="button pagination-previous"
            [ngClass]="{ 'is-clickable': !config.isFirstPage }"
            [disabled]="config.isFirstPage"
            (click)="p.previous()"
          >
            Previous
          </button>
          <button
            class="button pagination-next"
            [ngClass]="{ 'is-clickable': !config.isLastPage }"
            [disabled]="config.isLastPage"
            (click)="p.next()"
          >
            Next
          </button>
          <ul class="pagination-list">
            <li
              *ngFor="let page of p.pages"
              class="pagination-link"
              [ngClass]="{ 'is-current': p.getCurrent() === page.value }"
            >
              <span
                class="is-clickable"
                (click)="p.setCurrent(page.value)"
                *ngIf="p.getCurrent() !== page.value"
                >{{ page.label }}</span
              >
              <span *ngIf="p.getCurrent() === page.value">{{
                page.label
              }}</span>
            </li>
          </ul>
        </nav>
      </pagination-template>
    </div>
</section>