<nav id="navbar" class="navbar mt-2">
  <div class="container">
    <div class="navbar-brand is-active">
      <figure class="image is-96x96">
        <a routerLink="/home">
          <img class="is-rounded" src="/assets/logos/hendra_h.svg">
        </a>
      </figure>
      <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false"
        [ngClass]="{ 'is-active': isActive }" (click)="toggle()">
        <span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a>
    </div>
    <div class="navbar-menu" [ngClass]="{ 'is-active': isActive }" (click)="toggle()">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="/resume">Resume</a>
        <a class="navbar-item" routerLink="/blog">Blog</a>
      </div>
    </div>
  </div>
</nav>