/* You can add global styles to this file, and also import other style files */

/* Classic and Retro */
$roof-terracotta: #A7414A;
$bokara-grey: #282726;
$gumbo: #6A8A82;
$hacienda: #A37C27;
$van-cleef: #563838;

$primary: $gumbo;

@import '../node_modules/bulma/bulma.sass';
// @import '../node_modules/quill/dist/quill.core.css';
// @import '../node_modules/quill/dist/quill.bubble.css';
// @import '../node_modules/quill/dist/quill.snow.css';



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
