<footer class="footer">
    <section class="section">
      <div class="container has-text-centered">
        <div class="buttons is-centered">
          <a class="button" href="https://www.linkedin.com/in/hendrang/" target="blank"><img src="assets/icons/linkedin-in.svg" alt="linkedin"/></a>
          <a class="button" href="https://github.com/hendrang" target="blank"><img src="assets/icons/github.svg" alt="github"/></a>
          <a class="button" href="https://twitter.com/hendrangdev" target="blank"><img src="assets/icons/twitter.svg" alt="twitter"/></a>
        </div>
        <p class="subtitle is-6">&#169;<em>Hendra Ng. All right reserved.</em></p>
      </div>
    </section>
  </footer>